/* Especificidad: 001*/
body>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Especificidad: 002*/
body>article {
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden;
    /* <===  */
    border-radius: 1em;
}

/* Especificidad: 003*/
body>article h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 0.5em;
}

/* Especificidad: 002*/
article>img {
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

/* Especificidad: 002*/
article>button {
    position: absolute;
    width: 2.2em;
    height: 2.2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /*Sin color de primer plano, color predefinido del botón*/
    background-color: #fff;
    font-size: 2em;
    font-weight: bold;
}

/* Especificidad: 012*/
article>button:active {
    transform: scale(1.1);
}

/* Especificidad: 012*/
article>button[data-action=prev] {
    top: 50%;
    left: 2%;
}

/* Especificidad: 012*/
article>button[data-action=next] {
    top: 50%;
    right: 2%;
}