/* Especificidad: 001*/
main {
    width: 30em;
    height: 25em;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    border: 0.2em solid black;
}

@media screen and (max-width: 1150px) {

    /* Especificidad: 001*/
    main {
        /* Redefinición de width */
        width: 100%;
    }
}

/* Especificidad: 001*/
main>p {
    margin: 0;
    text-align: center;
    border: 0.03em solid black;
    font-size: 1.25em;
    font-weight: bold;
}

/* Especificidad: 011*/
/* p:not([data-state="blocked"]) { */
/*Hereda  background-color de body #f0f4f5, aunque esta en otra hoja de estilo*/
/* color: blue; */
/* } */


p[data-state="clicked"] {
    border-color: red;
    border-width: 0.1em;
}

/* Especificidad: 011*/

main p[data-state="empty"] {
    /*No hay color de primer plano establecido, en este caso no es necesario ya que los párrafos están vacíos*/
    background-color: black;
}

/* Especificidad: 003*/
body>section>button {
    margin-bottom: 1em;
}

/* Especificidad: 013*/
section ul li:nth-child(3) {
    text-decoration: none;
}

p[name="error"] {
    font-weight: bold;
    color: red;
    visibility: hidden;
    font-size: 1.1em;
}