/* Estilos para una mediaquery
que muestre la botonera en tablet y móvil */
/* Especificidad: 011*/
section[data-type=botonera] {
    display: flex;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

/* Especificidad: 012 */
section[data-type=botonera] h4 {
    width: 100%;
    text-align: center;
}

/* Especificidad: 012 */
section[data-type=botonera] button {
    width: calc(15% - 1em);
    height: 3em;
    text-align: center;
    background-color: #000;
    color: #FFF;
}

@media screen and (max-width: 1150px) {

    /* Especificidad: 011 */
    section[data-type=botonera] {
        /* Redefinición de visibility*/
        visibility: visible;
    }
}